/* SPLEENCSS COMMONS contains mixins, extentions and generic classes */
/* classes to be used es extentions with @extend [class_name] the EXT_ prefix will help ti make css code more readable Extensions should be used in scss/sass file only, not in the markup */
.EXT_border_reset { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

.EXT_bg_reset { background-repeat: no-repeat; background-color: transparent; background-position: top left; }

/* here some generic classes these classes can be used in html markup */
.debug { border: 1px solid red; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.clearfix { display: inline-block; }

* html.clearfix { height: 1%; }

.clearfix { display: block; }

/* define here your colors' palette variables are defined with a "c" prefix to better understand that you refer to a color var I usualy use variables to define colors and then other variable for the section I want to be colored with. Even if it could sounds like a repetition, i think its That's a good compromise to change colors to section without compromise other things */
/*
$cLink: $cOrange;
$cTitles: $cBlue;
$cSectionBox: $cGreyLight;
*/
body { font-family: "lucida grande", Tahoma, Verdana; font-size: 0.7em; color: #3d3d3d; }
body header h1 { font-size: 2em; padding: 5px 0; margin-bottom: 10px; }
body nav ul li { display: inline-block; margin-right: 20px; }
body article { border: 1px solid #11abf3; padding: 10px; }

header, nav, section, article, aside { background-color: #eee; padding: 10px; border: 1px solid #ccc; margin-top: 10px; }

p { line-height: 1.94em; }

@media screen and (max-width : 620px) { nav ul li { display: block; width: 100%; padding: 5px 0; border-bottom: 1px dotted gray; } }
