/* SPLEENCSS COMMONS contains mixins, extentions and generic classes */
/**********************************/
/* TYPOGRAPHY */
/* classes to be used es extentions with @extend [class_name] the EXT_ prefix will help ti make css code more readable Extensions should be used in scss/sass file only, not in the markup */
.EXT_border_reset { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

.EXT_bg_reset { background-repeat: no-repeat; background-color: transparent; background-position: top left; }

.EXT_ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* here some generic classes these classes can be used in html markup */
.debug { border: 1px solid red; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.clearfix { display: inline-block; }

* html.clearfix { height: 1%; }

.clearfix { display: block; }

/* define here your colors' palette variables are defined with a "c" prefix to better understand that you refer to a color var I usualy use variables to define colors and then other variable for the section I want to be colored with. Even if it could sounds like a repetition, i think its That's a good compromise to change colors to section without compromise other things */
/*
$cLink: $cOrange;
$cTitles: $cBlue;
$cSectionBox: $cGreyLight;
*/
/* DEFINE YOUR GENERIC STYLE FOR TAGS */
/****************************************************************************/
/* DEFINE THE STRUCTURE OF YOUR BASIC TEMPLATE AND BODY */
/****************************************************************************/
/* DEFINE COMMONS PART OF THE SITE all these style should be well visibile in portrait smartphones and even on ie6! suggestion: try to only describe objects without specifications as sizes, margin ecc since you are sure they are fixed. you can add those attributes in the specific moduls file. */
/****************************************************************************/
/* SMALLER THAN */
/****************************************************************************/
/* SMALLER THAN TABLET LANDSCAPE */
/* SMALLER THAN DESKTOP OR TABLET PORTRAIT */
/* smaller then 1499 (SMALLER THAN CINEMA DISPLAY) */
/* BETWEEN SIZES */
/****************************************************************************/
/* FOR SMARTPHONE LANDSCAPE AND TABLET PORTRAIT ONLY */
/* FOR TABLET PORTRAIT AND DESKTOP ONLY */
/* FOR SMARTPHONE LANDSCAPE, TABLET PORTRAIT AND DESKTOP ONLY */
/* BIGGER THAN */
/****************************************************************************/
/* FROM SMARTPHONES LANDSCAPE TO BIGGER */
/* FROM TABLET PORTRAIT TO BIGGER */
/* FROM TABLET LANDSCAPE TO BIGGER */
/* EXACT SIZES */
/****************************************************************************/
/* SMARTPHONE PORTRAIT */
/* SMARTPHONES LANDSCAPE ONLY */
/* TABLET PORTRAIL ONLY */
/* TABLET LANSDSCAPE or DESKTOP ONLY */
/* CINEMA DISPLAY OR WEB TV */
/* END MEDIA QUERIES STATEMENTS  */
