/* SPLEEN SCSS LIBRARY */
/* created by spleenteo http://www.basictrading.biz */
/********************************************/
/* RESET BROWSER AND HTML STYLES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 RESET TO AVOID INLINE BROWSER SETTINGS */
/********************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* GENERIC CLASSES */
.title_font { font-family: "Georgia"; font-smooth: always; font-weight: 400; }

.spleen_lib_verify:before { border: 5px solid black; content: "SPLEEN SCSS LIBRARY IS WORKING!"; color: white; text-shadow: #000 1px 1px 5px; font-size: 3em; font-family: verdana; font-weight: bold; margin: 10px; padding: 10px; display: block; background-image: url("http://basictrading.biz/download/git/spleen_scss/spleen_stripe.png"); -moz-border-radius: 10px 10px 10px 10px; /* FF1+ */ -webkit-border-radius: 10px 10px 10px 10px; /* Saf3+, Chrome */ border-radius: 10px 10px 10px 10px; /* Opera 10.5, IE 9 */ text-align: center; }

.debug { border: 1px solid red; }

.bg_reset { background-repeat: no-repeat; background-color: transparent; background-position: top left; }

/* RESETTING BODY */
body strong { font-weight: 600; }
body a { text-decoration: none; }
body a:hover { text-decoration: underline; }

/* Usefull classes to be used to .hide .show elements with js */
/* .opener is the trigger to be cliccked */
/* hider is the element contiaing the content that might be dynamically shown */
.hider { display: none; }

.opener { cursor: pointer; }

.before_opener_commons, .opener_close:before, .opener_open:before { margin-right: 4px; content: ""; margin-right: 4px; background-image: url("img/opener_arrow.png"); line-height: 16px; padding-left: 16px; }

.opener_close:before { background-position: 0 0; }

.opener_open:before { background-position: -16px -16px; }

/* SPACES HELPS YOU TO SET MARGIN ON THE FLY */
.v_10 { margin-top: 10px; margin-bottom: 10px; }

.v_20 { margin-top: 20px; margin-bottom: 20px; }

.v_30 { margin-top: 30px; margin-bottom: 30px; }

.v_40 { margin-top: 40px; margin-bottom: 40px; }

.v_50 { margin-top: 50px; margin-bottom: 50px; }

.v_60 { margin-top: 60px; margin-bottom: 60px; }

.v_70 { margin-top: 70px; margin-bottom: 70px; }

.v_80 { margin-top: 80px; margin-bottom: 80px; }

.v_90 { margin-top: 90px; margin-bottom: 90px; }

.v_100 { margin-top: 100px; margin-bottom: 100px; }

.h_10 { margin-left: 10px; margin-right: 10px; }

.h_20 { margin-left: 20px; margin-right: 20px; }

.h_30 { margin-left: 30px; margin-right: 30px; }

.h_40 { margin-left: 40px; margin-right: 40px; }

.h_50 { margin-left: 50px; margin-right: 50px; }

.h_60 { margin-left: 60px; margin-right: 60px; }

.h_70 { margin-left: 70px; margin-right: 70px; }

.h_80 { margin-left: 80px; margin-right: 80px; }

.h_90 { margin-left: 90px; margin-right: 90px; }

.h_100 { margin-left: 100px; margin-right: 100px; }

.hv_10 { margin: 10px; }

.hv_20 { margin: 20px; }

.hv_30 { margin: 30px; }

.hv_40 { margin: 40px; }

.hv_50 { margin: 50px; }

.hv_60 { margin: 60px; }

.hv_70 { margin: 70px; }

.hv_80 { margin: 80px; }

.hv_90 { margin: 90px; }

.hv_100 { margin: 100px; }

/* BASIC TABLE STYLE */
/*********************/
table { width: 100%; }
table td, table th { padding: 5px; vertical-align: top; }
table thead tr th { font-weight: 600; }
table thead tr th.short { width: 10%; }
table thead tr th.medium { width: 30%; }
table thead tr th.long { width: 60%; }
table .center { text-align: center; }
table .right { text-align: right; }

/* BASIC FORMS STYLE */
/*********************/
form fieldset label span { display: none; }
form fieldset input, form fieldset textarea, form fieldset select { margin-bottom: 4px; }
form fieldset div.field { padding: 5px 0; }
form fieldset div.field .help-text { font-style: italic; }
form fieldset div.required label { border-left: 2px solid red; }
form fieldset div.required label:before { content: "* "; }
form fieldset div.error label { color: red; }
form fieldset div.error input[type="text"], form fieldset div.error input[type="password"] { border-left: 2px solid red; }
form fieldset div.error ul.errorlist { color: red; }
form fieldset div.error ul.errorlist li { font-style: italic; padding-left: 15px; font-size: 90%; }
form fieldset div.error ul.errorlist li:before { display: inline; }
form fieldset .inline { display: inline; }
form fieldset .short { width: 30%; }
form fieldset .medium { width: 45%; }

.cms { font-size: 1em; line-height: 1.3em; }
.cms h1 span, .cms h2 span, .cms h3 span, .cms h4 span, .cms h5 span { display: none; }
.cms p img { margin: 5px 5px 5px 0; }
.cms p img.right { float: right; margin: 5px 0 5px 5px; }
.cms blockquote { font-style: italic; }
