@import "colors";   // the main color palette
@import "commons";  // the main color palette

.cms{
    font-size: 1em;
    line-height: 1.5em;

    h1, h2, h3, h4, h5{
        margin: .5em 0 .5em 0;
        span{
            display: none;
        }
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.3em;        
    }
    h3{
        font-size: 1.1em;        
    }
    p{
        img{
            margin: 5px 5px 5px 0;
        }
        img.right{
            float: right;
            margin: 5px 0 5px 5px;
        }
    }
    dl{
        dt{
            
        }
        dd{
            
        }
    }
    ul, ol{
        margin: 1em 3em;
        li{
            a{
                &:hover{
                    
                };
            }
        }
    }
    ul{
        list-style: disc;
        li{
            line-height: 1.5em;

            &:before{
                
            };
        }
    }
    a{
        &:hover{
            
        };
    }
    em{
        
    }
    strong{
        
    }
    img{
        
    }
    blockquote{
        font-style: italic;
        padding: .5em 3em;
    }
    pre{
        line-height: 1.2em;
        font-size: 1.1em;
        font-family: "Courier New", Courier, monospace;
        margin: .5 0;
        padding-left: 2em;
    }
    code{

    }
}