// define here your colors' palette
// the stadard here used is a variable $ with a "c" prefix to better understand that you refer to a color var

$cBlue: #0e76bc;
$cGray: #58585a;
$cGrayLight: #c7c7c7;
$cRailsGreen: #8bb106;
$cRailsGray: #747474;
$cCyan: #11abf3;
$cCyanLight: #35a5e6;
$cGreen: #afcd26;
$cOrange: #ff7200;
