/* PERSONALIZED GRID SYSTEM */
/* FORKED BY THE ORIGINAL 960 GRID */
/**********************************/

$margin: 10px; /* set the margin between columns */
$width: 960px; /* set the desired width */


// WARNING: Internal variables, don't change it!
$unit_12: $width / 12;
$unit_16: $width / 16;

.hive_12, .hive_16 {
    margin-left: auto;
    margin-right: auto;
    width: $width;
}
.cell_1, .cell_2, .cell_3, .cell_4, .cell_5, .cell_6, .cell_7, .cell_8, .cell_9, .cell_10, .cell_11, .cell_12, .cell_13, .cell_14, .cell_15, .cell_16 {
    display: inline;
    float: left;
    position: relative;
    margin-left: $margin;
    margin-right: $margin;
}
.hive_12 .cell_3, .hive_16 .cell_4 {
    width: ($unit_16 * 4) - ($margin * 2);
}
.hive_12 .cell_6, .hive_16 .cell_8 {
    width: ($unit_16 * 8) - ($margin * 2);
}
.hive_12 .cell_9, .hive_16 .cell_12 {
    width: ($unit_16 * 12) - ($margin * 2);
    
}
.hive_12 .cell_12, .hive_16 .cell_16 {
    width: ($unit_16 * 16) - ($margin * 2);
}
.alpha {
    margin-left: 0
}
.omega {
    margin-right: 0
}
.hive_12 .cell_1 {
    width: ($unit_12 * 1) - ($margin * 2);
}
.hive_12 .cell_2 {
    width: ($unit_12 * 2) - ($margin * 2);
}
.hive_12 .cell_4 {
    width: ($unit_12 * 4) - ($margin * 2);
}
.hive_12 .cell_5 {
    width: ($unit_12 * 5) - ($margin * 2);
}
.hive_12 .cell_7 {
    width: ($unit_12 * 7) - ($margin * 2);
}
.hive_12 .cell_8 {
    width: ($unit_12 * 8) - ($margin * 2);
}
.hive_12 .cell_10 {
    width: ($unit_12 * 10) - ($margin * 2);
}
.hive_12 .cell_11 {
    width: ($unit_12 * 11) - ($margin * 2);
}
.hive_16 .cell_1 {
    width: ($unit_16 * 1) - ($margin * 2);
}
.hive_16 .cell_2 {
    width: ($unit_16 * 2) - ($margin * 2);
}
.hive_16 .cell_3 {
    width: ($unit_16 * 3) - ($margin * 2);
}
.hive_16 .cell_5 {
    width: ($unit_16 * 5) - ($margin * 2);
}
.hive_16 .cell_6 {
    width: ($unit_16 * 6) - ($margin * 2);
}
.hive_16 .cell_7 {
    width: ($unit_16 * 7) - ($margin * 2);
}
.hive_16 .cell_9 {
    width: ($unit_16 * 9) - ($margin * 2);
}
.hive_16 .cell_10 {
    width: ($unit_16 * 10) - ($margin * 2);
}
.hive_16 .cell_11 {
    width: ($unit_16 * 11) - ($margin * 2);
}
.hive_16 .cell_13 {
    width: ($unit_16 * 13) - ($margin * 2);
}
.hive_16 .cell_14 {
    width: ($unit_16 * 14) - ($margin * 2);
}
.hive_16 .cell_15 {
    width: ($unit_16 * 15) - ($margin * 2);
}
.hive_12.pre_3, .hive_16.pre_4 {
    padding-left: ($unit_16 * 4);
}
.hive_12.pre_6, .hive_16.pre_8 {
    padding-left: ($unit_16 * 8);
}
.hive_12.pre_9, .hive_16.pre_12 {
    padding-left: ($unit_16 * 12);
}
.hive_12.pre_1 {
    padding-left: ($unit_12 * 1);
}
.hive_12.pre_2 {
    padding-left: ($unit_12 * 2);
}
.hive_12.pre_4 {
    padding-left: ($unit_12 * 4);
}
.hive_12.pre_5 {
    padding-left: ($unit_12 * 5);
}
.hive_12.pre_7 {
    padding-left: ($unit_12 * 7);
}
.hive_12.pre_8 {
    padding-left: ($unit_12 * 8);
}
.hive_12.pre_10 {
    padding-left: ($unit_12 * 10);
}
.hive_12.pre_11 {
    padding-left: ($unit_12 * 11);
}
.hive_16.pre_1 {
    padding-left: ($unit_16 * 1);
}
.hive_16.pre_2 {
    padding-left: ($unit_16 * 2);
}
.hive_16.pre_3 {
    padding-left: ($unit_16 * 3);
}
.hive_16.pre_5 {
    padding-left: ($unit_16 * 5);
}
.hive_16.pre_6 {
    padding-left: ($unit_16 * 6);
}
.hive_16.pre_7 {
    padding-left: ($unit_16 * 7);
}
.hive_16.pre_9 {
    padding-left: ($unit_16 * 9);
}
.hive_16.pre_10 {
    padding-left: ($unit_16 * 10);
}
.hive_16.pre_11 {
    padding-left: ($unit_16 * 11);
}
.hive_16.pre_13 {
    padding-left: ($unit_16 * 13);
}
.hive_16.pre_14 {
    padding-left: ($unit_16 * 14);
}
.hive_16.pre_15 {
    padding-left: ($unit_16 * 15);
}
.hive_12.post_3, .hive_16.post_4 {
    padding-right: ($unit_16 * 4);
}
.hive_12.post_6, .hive_16.post_8 {
    padding-right: ($unit_16 * 8);
}
.hive_12.post_9, .hive_16.post_12 {
    padding-right: ($unit_16 * 12);
}
.hive_12.post_1 {
    padding-right: ($unit_12 * 1);
}
.hive_12.post_2 {
    padding-right: ($unit_12 * 2);
}
.hive_12.post_4 {
    padding-right: ($unit_12 * 4);
}
.hive_12.post_5 {
    padding-right: ($unit_12 * 5);
}
.hive_12.post_7 {
    padding-right: ($unit_12 * 7);
}
.hive_12.post_8 {
    padding-right: ($unit_12 * 8);
}
.hive_12.post_10 {
    padding-right: ($unit_12 * 10);
}
.hive_12.post_11 {
    padding-right: ($unit_12 * 11);
}
.hive_16.post_1 {
    padding-right: ($unit_16 * 1);
}
.hive_16.post_2 {
    padding-right: ($unit_16 * 2);
}
.hive_16.post_3 {
    padding-right: ($unit_16 * 3);
}
.hive_16.post_5 {
    padding-right: ($unit_16 * 5);
}
.hive_16.post_6 {
    padding-right: ($unit_16 * 6);
}
.hive_16.post_7 {
    padding-right: ($unit_16 * 7);
}
.hive_16.post_9 {
    padding-right: ($unit_16 * 9);
}
.hive_16.post_10 {
    padding-right: ($unit_16 * 10);
}
.hive_16.post_11 {
    padding-right: ($unit_16 * 11);
}
.hive_16.post_13 {
    padding-right: ($unit_16 * 13);
}
.hive_16.post_14 {
    padding-right: ($unit_16 * 14);
}
.hive_16.post_15 {
    padding-right: ($unit_16 * 15);
}
.hive_12.slide_3, .hive_16.slide_4 {
    left: ($unit_16 * 4);
}
.hive_12.slide_6, .hive_16.slide_8 {
    left: ($unit_16 * 8);
}
.hive_12.slide_9, .hive_16.slide_12 {
    left: ($unit_16 * 12);
}
.hive_12.slide_1 {
    left: ($unit_12 * 1);
}
.hive_12.slide_2 {
    left: ($unit_12 * 2);
}
.hive_12.slide_4 {
    left: ($unit_12 * 4);
}
.hive_12.slide_5 {
    left: ($unit_12 * 5);
}
.hive_12.slide_7 {
    left: ($unit_12 * 7);
}
.hive_12.slide_8 {
    left: ($unit_12 * 8);
}
.hive_12.slide_10 {
    left: ($unit_12 * 10);
}
.hive_12.slide_11 {
    left: ($unit_12 * 11);
}
.hive_16.slide_1 {
    left: ($unit_16 * 1);
}
.hive_16.slide_2 {
    left: ($unit_16 * 2);
}
.hive_16.slide_3 {
    left: ($unit_16 * 3);
}
.hive_16.slide_5 {
    left: ($unit_16 * 5);
}
.hive_16.slide_6 {
    left: ($unit_16 * 6);
}
.hive_16.slide_7 {
    left: ($unit_16 * 7);
}
.hive_16.slide_9 {
    left: ($unit_16 * 9);
}
.hive_16.slide_10 {
    left: ($unit_16 * 10);
}
.hive_16.slide_11 {
    left: ($unit_16 * 11);
}
.hive_16.slide_13 {
    left: ($unit_16 * 13);
}
.hive_16.slide_14 {
    left: ($unit_16 * 14);
}
.hive_16.slide_15 {
    left: ($unit_16 * 15);
}
.hive_12.pull_3, .hive_16.pull_4 {
    left: ($unit_16 * 4) * -1;
}
.hive_12.pull_6, .hive_16.pull_8 {
    left: ($unit_16 * 8) * -1;
}
.hive_12.pull_9, .hive_16.pull_12 {
    left: ($unit_16 * 12) * -1;
}
.hive_12.pull_1 {
    left: ($unit_12 * 1) * -1;
}
.hive_12.pull_2 {
    left: ($unit_12 * 2) * -1;
}
.hive_12.pull_4 {
    left: ($unit_12 * 4) * -1;
}
.hive_12.pull_5 {
    left: ($unit_12 * 5) * -1;
}
.hive_12.pull_7 {
    left: ($unit_12 * 7) * -1;
}
.hive_12.pull_8 {
    left: ($unit_12 * 8) * -1;
}
.hive_12.pull_10 {
    left: ($unit_12 * 10) * -1;
}
.hive_12.pull_11 {
    left: ($unit_12 * 11) * -1;
}
.hive_16.pull_1 {
    left: ($unit_16 * 1) * -1;
}
.hive_16.pull_2 {
    left: ($unit_16 * 2) * -1;
}
.hive_16.pull_3 {
    left: ($unit_16 * 3) * -1;
}
.hive_16.pull_5 {
    left: ($unit_16 * 5) * -1;
}
.hive_16.pull_6 {
    left: ($unit_16 * 6) * -1;
}
.hive_16.pull_7 {
    left: ($unit_16 * 7) * -1;
}
.hive_16.pull_9 {
    left: ($unit_16 * 9) * -1;
}
.hive_16.pull_10 {
    left: ($unit_16 * 10) * -1;
}
.hive_16.pull_11 {
    left: ($unit_16 * 11) * -1;
}
.hive_16.pull_13 {
    left: ($unit_16 * 13) * -1;
}
.hive_16.pull_14 {
    left: ($unit_16 * 14) * -1;
}
.hive_16.pull_15 {
    left: ($unit_16 * 15) * -1;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix {
    display: inline-block
} * html.clearfix {
    height: 1%;
}
.clearfix {
    display: block
}